*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{

    font-family: "Bree Serif",serif;
}
header h1{
    color:white;
    letter-spacing: 0.3em;
}
@media only screen and (min-width:901px){
body{
    background: #1ab;
}
.app-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(53, 146, 156);
    width: 50%;
    height: 100vh;
    overflow: hidden;
    margin:auto;
}
form{
    background:rgb(4, 86, 95);
    width:100%;
    padding:1rem;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.location-container .location-input{
    width:100%;
    height: 100%;
    color:#595f6e;
    padding-top:20px;
    border:none;
    outline:none;
    font-size:18px;
    margin-bottom: 7px;
}
.location-container{
    position:relative;
    margin:auto;
    overflow: hidden;
    margin: 50px;
    width:100%;
}

.location-input{
    width:100%;
    height: 100%;
    color:#595f6e;
    font-size:18px;
    margin-bottom: 7px;
    text-indent: 10px;
}

.location-container .label{
    position:absolute;
    bottom:0px;
    left:0px;
    width:100%;
    height: 100%;
    pointer-events: none;
}
.location-container .label::after{
    content:'';
    position:absolute;
    left:0;
    bottom:4px;
    height: 100%;
    width:100%;
    border-bottom:3px solid #1ab;
    transform:translateX(-100%);
    transition:transform 0.3s ease;
}
.content-name{
    position:absolute;
    bottom:5px;
    left:0px;
    transition: all 0.3s ease;
}
.check-btn{
    width:100%;
    padding:1rem;
    background:green;
    border:none;
    color:white;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    transition:all 2s linear;
    cursor: pointer;
    border-radius: 3px;
}
.check-btn:hover{
    color:green;
    background:white;
    border:1px solid green;
}
/*this style would animate the label in the input to go up when clicked*/
.location-container .location-input:focus + .label .content-name,.location-container .location-input:valid + .label .content-name{
    transform:translateY(-190%);
    font-size:11px;
    color:#1ab;
}
.location-container .location-input:focus + .label::after,
.location-container .location-input:valid + .label::after{
    transform:translateX(0%);
    transition:transform 0.3s ease;
}
    #result{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
       width:50%;
       margin:10px;
    }
}
/* styles for tablet version */
@media only screen and (min-width:401px) and (max-width:900px){

.app-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #1ab;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
form{
    background:rgb(35, 132, 143);
    width:100%;
    padding:1rem;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.location-container .location-input{
    width:100%;
    height: 100%;
    color:#595f6e;
    padding-top:20px;
    border:none;
    outline:none;
    font-size:18px;
    margin-bottom: 7px;
}
.location-container{
    position:relative;
    margin:auto;
    overflow: hidden;
    margin: 50px;
    width:100%;
}

.location-input{
    width:100%;
    height: 100%;
    color:#595f6e;
    font-size:18px;
    margin-bottom: 7px;
    text-indent: 10px;
}

.location-container .label{
    position:absolute;
    bottom:0px;
    left:0px;
    width:100%;
    height: 100%;
    pointer-events: none;
}
.location-container .label::after{
    content:'';
    position:absolute;
    left:0;
    bottom:4px;
    height: 100%;
    width:100%;
    border-bottom:3px solid #1ab;
    transform:translateX(-100%);
    transition:transform 0.3s ease;
}
.content-name{
    position:absolute;
    bottom:5px;
    left:0px;
    transition: all 0.3s ease;
}
.check-btn{
    width:100%;
    padding:1rem;
    background:green;
    border:none;
    color:white;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    transition:all 2s linear;
    cursor: pointer;
    border-radius: 3px;
}
.check-btn:hover{
    color:green;
    background:white;
    border:1px solid green;
}
/*this style would animate the label in the input to go up when clicked*/
.location-container .location-input:focus + .label .content-name,.location-container .location-input:valid + .label .content-name{
    transform:translateY(-190%);
    font-size:11px;
    color:#1ab;
}
.location-container .location-input:focus + .label::after,
.location-container .location-input:valid + .label::after{
    transform:translateX(0%);
    transition:transform 0.3s ease;
}
    #result{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* width:90%; */
    margin:20px 10px;
    }
}

@media only screen and (max-width: 400px){

.app-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #1ab;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
form{
    background-color: rgb(20, 144, 158);
    width:100%;
    padding:1rem;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.location-container .location-input{
    width:100%;
    height: 100%;
    color:#595f6e;
    padding-top:20px;
    border:none;
    outline:none;
    font-size:18px;
    margin-bottom: 7px;
}
.location-container{
    position:relative;
    margin:auto;
    overflow: hidden;
    margin: 50px;
    width:100%;
}

.location-input{
    width:100%;
    height: 100%;
    color:#595f6e;
    font-size:18px;
    margin-bottom: 7px;
    text-indent: 10px;
}

.location-container .label{
    position:absolute;
    bottom:0px;
    left:0px;
    width:100%;
    height: 100%;
    pointer-events: none;
}
.location-container .label::after{
    content:'';
    position:absolute;
    left:0;
    bottom:4px;
    height: 100%;
    width:100%;
    border-bottom:3px solid #1ab;
    transform:translateX(-100%);
    transition:transform 0.3s ease;
}
.content-name{
    position:absolute;
    bottom:5px;
    left:0px;
    transition: all 0.3s ease;
}
.check-btn{
    width:100%;
    padding:1rem;
    background:green;
    border:none;
    color:white;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    transition:all 2s linear;
    cursor: pointer;
    border-radius: 3px;
}
.check-btn:hover{
    color:green;
    background:white;
    border:1px solid green;
}
/*this style would animate the label in the input to go up when clicked*/
.location-container .location-input:focus + .label .content-name,.location-container .location-input:valid + .label .content-name{
    transform:translateY(-190%);
    font-size:11px;
    color:#1ab;
}
.location-container .location-input:focus + .label::after,
.location-container .location-input:valid + .label::after{
    transform:translateX(0%);
    transition:transform 0.3s ease;
}
    #result{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding:0.5rem;
        width:100%;
        margin:10px;
    }
}

